<h1>Today#index</h1>
<p>devise插件测试</p>
<%if user_signed_in?%>
<%= current_user.email%><br />
<%= link_to "登出", destroy_user_session_path, :method => :delete %><br />
<% else%>
<!-- div#header>ul.navigation>li*4>a -->
<div id="d1">
	<ul class="u1">
		<li><a href=""></a>你好</li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
	</ul>
</div>

<!--zcoding table#t1>td*4>tr*4 -->
<p></p>
<%= link_to '注册',new_user_registration_path %> or <%= link_to '登录',new_user_session_path %>
<% end %>
